@media (max-width: 670px) {
  .menu-container {
   left:0;
    align-items: flex-start;
  }
  .introduction {
    height: 1000px;
    background-size: 850px;
  }
  .introduction .name {
    font-size: 4rem;
    letter-spacing: 2px;
    padding-top: 400px;
    padding-left: 50px;
  }
  .my-profile .profile-title {
    font-size: 1.8rem;
  }
  .introduction-1 p {
    font-size: 0.5rem;
    letter-spacing: 5px;
    line-height: 20px;
  }
  .subtitle-2 h2 {
    font-size: 2rem;
  }
  .introduction-2 p {
    font-size: 0.7rem;
    letter-spacing: 5px;
    line-height: 20px;
  }
  #works-section {
    height: 2210px;
  }
  #works-section .work {
    margin-top: 15px;
  }
  .works {
    flex-direction: column;
  }
  .copyright {
    font-size: 1.3rem;
    margin-top: 245px;
  }
}
