@media (max-width: 670px) {
  p{
    font-size:0.8rem;
  }
  .menu-container {
    width: 0%;
    align-items: flex-start;
  }
  .introduction {
    height: 900px;
    background-size: 850px;
    .name {
      font-size: 4rem;
      letter-spacing: 2px;
    }
  }
  .my-profile {
    .profile-title {
      font-size: 1.8rem;
    }
  }
  .introduction-1 {
    p {
      font-size: 0.5rem;
      letter-spacing: 5px;
    }
  }
  .subtitle-2 {
    h2 {
      font-size: 2rem;
    }
  }
  .introduction-2 {
    p {
      font-size: 0.7rem;
      letter-spacing: 5px;
    }
  }
  #works-section {
    height: 2210px;
    .work {
      margin-top: 15px;
      .list {
        color: brown;
      }
    }
  }

  .works {
    flex-direction: column;
  }
  .copyright {
    font-size: 1.3rem;
    margin-top: 245px;
  }
}
@media (min-width: 820px) and(max-width: 1700px) {
  .profile-image {
    img {
      height: 500px;
      position: relative;
    }
  }
  .copyright {
    margin-top: 270px;
  }
}
