* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 2800px;
  font-family: serif;
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
}

h2 {
  font-size: 3.5rem;
}

p {
  font-size: 1.8rem;
  letter-spacing: 0.5rem;
}

a {
  text-decoration: none;
}

.menu-container {
  height: 60px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  right: 0;
}

.menu-container span {
  display: block;
  height: 5px;
  width: 40px;
  margin: 5px 10px;
  border-radius: 2px;
  transition: 300ms;
  background: #000;
}

.top.trans {
  transform: rotate(45deg);
  top: 15px;
  position: relative;
  background-color: #da2a56;
  cursor: pointer;
}

.middle.trans {
  opacity: 0;
  cursor: pointer;
}

.bottom.trans {
  transform: rotate(-45deg);
  bottom: 15px;
  position: relative;
  background-color: #da2a56;
  cursor: pointer;
}

.nav-wrapper {
  position: fixed;
  right: -100%;
  width: 100%;
  background-color: rgba(53, 53, 53, 0.527);
  transition: 300ms;
  align-items: flex-end;
  z-index: 100;
  height: 100vh;
}

.nav-wrapper ul {
  margin: 0;
  padding: 0;
}

.nav-wrapper.open {
  right: 0;
}

li {
  list-style: none;
  height: 100%;
  text-align: center;
  line-height: 80px;
  margin: 5%;
}

li a {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 3rem;
  font-family: fantasy;
}

li a:hover {
  background-color: white;
  color: black;
}

.introduction {
  background-image: url(./images/myphoto.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 1500px;
}

.introduction .name {
  font-size: 8rem;
  font-family: "Times New Roman", Times, serif;
  color: #fff;
  padding-top: 50%;
}

section {
  width: 100%;
}

#profile-section {
  background-image: url(./images/introduction.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#profile-section .profile-container {
  width: 100%;
  height: 1100px;
}

#profile-section .profile-container .my-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

#profile-section .profile-container .my-profile h2 {
  margin-left: 10px;
}

#profile-section .profile-container .my-profile h2:hover {
  color: blue;
}

.profile-image {
  opacity: 0;
  transition: 1s;
  transform: translateX(5%);
}

.profile-image img {
  border-radius: 5px;
}

.size1 {
  color: #f8a473;
}

.size2 {
  color: white;
}

.size3 {
  color: #8bd5f8;
}

.size4 {
  color: #03fd89;
}

.introduction-1 {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: whitesmoke;
  border-radius: 15px;
  opacity: 0;
  transition: 1s;
  transform: translateX(-10%);
}

.subtitle-1 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.subtitle-2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.subtitle-2 h2 {
  margin-left: 10px;
}

.introduction-2 {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: whitesmoke;
  border-radius: 15px;
  opacity: 0;
  transition: 1s;
  transform: translateX(10%);
}

#skill-section {
  background-image: url(./images/skill.jpg);
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}

.skill-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-title h2 {
  margin-left: 30px;
}

.skill-wrapper {
  width: 100%;
  display: flex;
  position: relative;
  top: 15%;
  align-content: space-around;
  opacity: 0;
  transform: translateY(7%);
  transition: 1s;
}

.skill-wrapper .skill {
  width: 100%;
  height: 40vh;
}

.skill-wrapper .skill img {
  width: 35%;
  height: 35vh;
}

.revel-wrapper {
  font-size: 3.5rem;
  display: flex;
  opacity: 0;
  transform: translateX(7%);
  transition: 1s;
}

.revel-wrapper .revel {
  width: 25%;
  height: 50px;
  border: 2px solid #000;
  box-sizing: border-box;
  border-radius: 20px;
  color: white;
  padding-top: 0.5;
}

.revel-wrapper .revel:hover {
  color: #00eaff;
}

.inner {
  height: 100%;
  position: relative;
  bottom: 53px;
  transition: 1.5s;
  border-left: false solid #fdf7f7;
  border-radius: 20px;
}

#portfolio-section {
  background-image: url(./images/portfolio.jpg);
  background-size: cover;
  height: 800px;
  background-repeat: no-repeat;
}

#portfolio-section .portfolio-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio-section .portfolio-title h2 {
  margin-left: 1%;
}

#portfolio-section .portfolio img {
  height: 440px;
  width: 50%;
}

#works-section {
  background-image: url(./images/works.jpg);
  background-size: cover;
  height: 850px;
  background-repeat: no-repeat;
}

#works-section .works-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#works-section .works-title h2 {
  margin-left: 30px;
}

#works-section .work-message {
  font-size: 2rem;
  letter-spacing: 1px;
  color: whitesmoke;
  transform: translateY(7px);
  transition: 1s;
  margin-top: 100px;
}

.works {
  display: flex;
  opacity: 0;
  transform: translateY(7%);
  transition: 1s;
}

.works img {
  width: 65%;
  height: 35vh;
  border-radius: 45%;
}

.works .list {
  color: #ff4800;
}

.works .work-text {
  width: 95%;
  background-color: #8d4646;
  color: azure;
  opacity: 0.9;
  border-radius: 20px;
  margin-top: 5%;
}

#contact-section {
  background-image: url(./images/contact.jpeg);
  background-size: cover;
  background-position: 40% 50%;
  background-repeat: no-repeat;
}

#contact-section .contact-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-section .contact-title h2 {
  margin-left: 2%;
}

#contact-section .contact-text {
  width: 100%;
  position: relative;
  top: 15%;
}

.contact-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-nav ul li {
  display: inline-block;
  margin-right: 70px;
}

.copyright {
  font-size: 3.5rem;
}

.move {
  opacity: 1;
  transform: none;
}
/*# sourceMappingURL=style.css.map */
